@charset "UTF-8";
* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

div,
p {
  display: block;
}

article,
header,
section,
footer {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 0;
}

section {
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 85.7142857143%;
}

@media (max-width: 1199px) {
  .container {
    max-width: 21.4285714286%;
  }
}
img {
  width: 100%;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #444;
}

p {
  color: #999;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

h1 {
  color: #ff5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  margin-top: 3rem;
}

h2 {
  color: #999;
  font-size: 2rem;
}

h3 {
  color: #f00;
  font-size: 1.6rem;
}

header {
  background-color: #ddd;
}

footer {
  background-color: #444;
}

.blocks {
  /*

  BEM CSS
  -BLOCK
  -ELEMENT
  -MODIFIER

  - Padrão do objeto / Design Patterns

  Exemplo: 
  .cars__title
  .cars__list
  .cars__item

  */
  padding: 3rem 0;
}
.blocks__title {
  color: #ff5;
}
.blocks__list {
  list-style-type: none;
  font-size: 1.2rem;
  display: block;
  float: left;
  margin: 0 auto;
  height: 1.4rem auto;
  padding: 1rem 0;
  width: 100%;
}
.blocks__item {
  color: #999;
  display: block;
  margin: 1.4rem auto;
  width: calc(33% - 15px);
}
@media (max-width: 1199px) {
  .blocks__item {
    width: calc(99% - 30px);
  }
}
.blocks__img-container {
  display: block;
  overflow: hidden;
  width: 100%;
}
.blocks__img-container img {
  width: 100%;
}
@media (max-width: 1199px) {
  .blocks__img-container {
    height: auto;
  }
}
.blocks__button {
  background-color: #ff5;
  border-radius: 5px;
  color: darkslategray;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-top: 1.5rem;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
}

.cars__item {
  border: 1px solid #ff0;
  background-color: #ddd;
  color: #222;
  display: block;
  float: left;
  width: calc(33.3333% - 1.4rem);
  box-sizing: border-box;
}
.cars__item img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 1199px) {
  .cars__item {
    width: 100%;
  }
}

.cars__img-container {
  display: block;
  overflow: hidden;
}
.cars__img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.cars__title {
  color: #999;
}
.cars__item {
  border: 1px solid #ff0;
  background-color: #ddd;
  color: #222;
  display: block;
  float: left;
  height: auto;
  justify-content: center;
  align-items: baseline;
  flex-flow: column;
}
.cars__item--destack {
  border: 1px solid #ff5;
  background-color: #222;
}
.cars__item__button {
  align-self: auto;
  background-color: #444;
}
.cars img {
  width: 100%;
  height: auto;
}

.destack {
  background-color: #222;
  padding: 1.4rem;
}
.destack__title {
  color: #f00;
  float: left;
  font-size: 3rem;
  margin-top: 0;
}
.destack__subtitle {
  float: left;
  font-size: 1.2rem;
  margin-left: 1.4rem;
  margin-top: 1.5rem;
}
.destack__image {
  width: 100%;
  height: auto;
  margin: 1.4rem auto;
}
.destack__description {
  font-size: 1.6rem;
  color: #fff;
  padding: 2rem 0;
  width: 100%;
  text-shadow: 0 0 42px #0fa, 0 0 82px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

/*# sourceMappingURL=style.css.map */
