/* Arquivo CSS geral com estilos dos elementos de todas as páginas*/



body {
  background-color:gray;
  overflow: overlay;
}

h1, h2, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #454545;
	margin-bottom: 1rem;
}

.navegacao {
	color: #66f;
}

a {
	color: #777;
	padding: 20px;
	text-decoration: none;
}

form div {
	background: #fff;
	border-right: 1px solid #228b22;
	border-left: 1px solid #228b22;
	border-top: 1px solid #228b22;
	border-bottom: 1px solid #228b22;
	margin: 10px 10px 20px 10px;
	padding: 20px 0;
	overflow: hidden;
}

label {
	position: relative;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: bold;
	color: #66f;
}

input {
	padding: 1rem;
}


[type="text"] [type="email"], textarea, label {
	display: block;
	width: 100%;
}


header {
  background-color: #00BFFF;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


nav {
  width: 100%;
	border-right: 1px solid;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
  background: #00BFFF;
  padding: 0;
}


nav ul {
  border-bottom: 1px solid;
  border-top:1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  padding: 20px;
}


article {
  font-family: 'Tangerine', cursive;
  font-size: 25px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 70%;
  color: black;
}


section::after {
  background: #ccc;
  content: "";
  display: table;
  clear: both;
}


footer {
  padding: 10px;
  text-align: center;
  color: MediumSeaGreen ;
  margin: 10px 10px 10px 10px; 
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}


@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

h2:hover {
  color: green;
}

footer:hover {
  color: yellow;
}

#grafico-01 img{
  margin-top: 1rem;
  width: 20%;
  border-radius: 50%;
}

#grafico-01 img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);

}